.holy-grail-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 3fr 1fr;
        grid-template-columns: 1fr 3fr 1fr;
    -ms-grid-rows: 1fr 8fr 1fr;
        grid-template-rows: 1fr 8fr 1fr;
    grid-gap: 20px;
    height: 100vh;
  }
  
  @media screen and (max-width: 60em) {
    .holy-grail-grid {
      -ms-grid-rows: 2fr 1fr 5fr 1fr;
          grid-template-rows: 2fr 1fr 5fr 1fr;
    }
  }
  
  .holy-grail-header,
  .holy-grail-left,
  .holy-grail-middle,
  .holy-grail-right,
  .holy-grail-footer {
    padding: 1rem;
    border: 1px solid #ededed;
    background-color: #ededed;
  }
  
  .holy-grail-header {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 4;
    -ms-grid-row: 1;
        grid-row-start: 1;
  }
  
  @media screen and (max-width: 60em) {
    .holy-grail-left {
      -ms-grid-row: 2;
          grid-row-start: 2;
      -ms-grid-column: 1;
          grid-column-start: 1;
      grid-column-end: 4;
    }
  }
  
  @media screen and (max-width: 60em) {
    .holy-grail-middle {
      -ms-grid-row: 3;
          grid-row-start: 3;
      -ms-grid-column: 1;
          grid-column-start: 1;
      grid-column-end: 4;
    }
  }
  
  @media screen and (max-width: 60em) {
    .right-nav {
      -ms-grid-row: 4;
          grid-row-start: 4;
      -ms-grid-column: 1;
          grid-column-start: 1;
      grid-column-end: 4;
    }
  }
  
  .holy-grail-footer {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 4;
  }
  